body{
    background-color: rgb(107, 87, 63);
}

.main-container{
    display: flex;
    flex-direction:column;
}
.container1{
    display: flex;
    flex-direction:row;
}

.container2{ min-height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;   /* x axis*/
    align-items: center;  /* y axis*/
}
.container3
{
    display: flex;
    min-height: 400px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:center;

}

.container2 .card{
    background-color: antiquewhite;
    width: 300px;
    height: 350px;
    margin: 4px;
    border: 1px dotted rgb(177, 172, 172);
}
.card-img {
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
p{
    padding: 10px;
    margin: 8px;
}
.para1,.para2,.para3{
    background-color: aquamarine;
    flex: 1;
}
.para1{   flex: 1; }
.para2{   flex: 2; order: 1; }
.para3{   flex: 1;  }

.gallery-item{
    width: 200px;
    height: 150px;
}